CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_TARGET_meson=y
CONFIG_TARGET_meson_m8b=y
CONFIG_TARGET_meson_m8b_m201=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_TARGET_BOARD="meson"
CONFIG_TARGET_SUBTARGET="m8b"
CONFIG_TARGET_PROFILE="m201"
CONFIG_TARGET_ARCH_PACKAGES="arm_cortex-a5_neon"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
CONFIG_CPU_TYPE="cortex-a5+neon"
CONFIG_LINUX_3_10=y

